/********************************************Basic Reset********************************************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a {
    text-decoration: none; 
}
a:focus{
    outline: none;
}
button {
    border: none;
}
button:focus{
    outline: none;
}
ul {
    list-style-type: none;
}
img {
    width : 100%
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Kumbh Sans' , sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
}
/******************************************Start of the navbar**************************************/
.navbar{
    height: 9rem;
    background-color: #131313;
    padding: 0 calc( ( 100vw - 1140px ) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:3rem;
    font-weight: 600;
}
.navbar__menu{
    display: flex;
}
.navbar__item:not(:last-child){
    margin-right: 2rem;
}
.navbar__link{
    color: white;
}
.navbar__link:hover{
    color: #ff8177;
}
.button{
    color: white;
    background-color: #ff8177;
    padding: 1rem 2rem;
    border-radius: 3px;
}
@media screen and (max-width:114rem) {
    .navbar{
        padding: 0 6rem;
    }
}
/******************************************Start of the hero**************************************/
.hero{
    background-color: #141414;
}
.hero__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10rem 10rem;
}
.hero__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}  
.hero__content h1{
    font-size: 6rem;
    font-weight: 900;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.hero__content h2{
    font-size: 6rem;
    font-weight: 900;
    background-image: linear-gradient(to top,#b721ff 0%,#21d4fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero__content p{
    color: rgba(255, 255, 255, 0.932);
    font-size: 3rem;
    font-weight: 600;
}
.hero__button{
    padding: 1rem 2rem;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.932);
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 4rem;
    position: relative;
    z-index: 3;
}
.hero__button:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-image: linear-gradient(to top,#b721ff 0%,#21d4fd 100%);
    border-radius: 3px;
    transition: all .5s ease;
    z-index: 1;
}

.hero__button:hover:after{
    width: 100%;
}
.hero__img{
    display: flex;
    justify-content: center;
}
.hero__img img{
width: 50%;
}